/* # Front-end Style Guide

- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 600, 800
*/

:root {
    --aquaSliderBar: hsl(174, 77%, 80%);
    --aquaSliderBG: hsl(174, 86%, 45%);
    --redBGDiscount: hsl(14, 92%, 95%);
    --redDiscount: hsl(15, 100%, 70%);
    --blueCTA: hsl(226, 100%, 87%);
    --whiteContainerBG: hsl(0, 0%, 100%);
    --paleBlueMainBG: hsl(230, 100%, 99%);
    --graySliderBar: hsl(224, 65%, 95%);
    --toggleBackgroundBlue: hsl(223, 50%, 87%);
    --grayBlueText: hsl(225, 20%, 60%);
    --darkBlueText: hsl(227, 35%, 25%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    background-color: var(--paleBlueMainBG);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: var(--graySliderBar);
    border-bottom-left-radius: 225px;
}

.innerHeader {
    position: relative;
    width: 300px;
    height: 250px;
}

.innerHeader img {
    position: absolute;
    top: 0;
    left: 20%;
}

h1 {
    position: absolute;
    top: 5%;
    z-index: 2;
    font-size: 1.3rem;
    color: var(--darkBlueText);
}

.innerHeader p {
    width: 90%;
    text-align: center;
}

.sign-up {
    position: absolute;
    top: 20%;
    font-size: 15px;
    color: var(--grayBlueText);
    font-weight: 600;
}

.container {
    width: 350px;
    height: 425px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -27%);
    background-color: var(--whiteContainerBG);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.views {
    color: var(--grayBlueText);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

.sliderContainer {
    position: relative;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 15rem;
    height: 8px;
    background: var(--graySliderBar);
    border-radius: 5px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: url('./images/icon-slider.svg') no-repeat center center;
    background-color: var(--aquaSliderBG);
    background-size: auto;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 10px 25px 1px var(--aquaSliderBG);
}

input[type="range"]::-webkit-slider-thumb:active {
    cursor:grabbing;
    background-color: hsl(174, 85%, 33%);
}

.price {
    font-size: 32px;
    font-weight: 800;
    color: var(--darkBlueText);
}

.billing {
    font-size: 14px;
    font-weight: 600;
    color: var(--grayBlueText);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.discount {
    padding: 3px;
    border-radius: 20px;
    background-color: var(--redBGDiscount);
    color: var(--redDiscount);
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:hover {
    background-color: var(--aquaSliderBG);
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.round {
    border-radius: 34px;
}

ul {
    list-style-image: url(./images/icon-check.svg);
    font-size: 14px;
    color: var(--grayBlueText);
    font-weight: 600;
}

.trialButton {
    border: none;
    border-radius: 25px;
    padding: 1rem;
    background-color: var(--darkBlueText);
    color: var(--toggleBackgroundBlue);
    font-weight: 600;
    width: 175px;
}

.trialButton:hover {
    cursor: pointer;
    color: var(--whiteContainerBG);
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

li {
    margin: 10px 0px;
}

.month:nth-child(even) {
    display: none;
}

.month:nth-child(odd) {
    display: block;
}

.discountWord {
    display: none;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 600px;
    }

    .billing {
        width: 60%;
        margin-left: 2rem;
    }

    .flex {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .trialButton {
        height: 50px;
    }

    .numbers {
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .month:nth-child(odd) {
        display: none;
    }

    .month:nth-child(even) {
        display: block;
    }

    input[type="range"] {
        width: 29rem;
    }

    .numbers {
        width: 450px;
        justify-content: space-between;
    }
    .price {
        font-size: 2.5rem;
    }
    .discountWord {
        display: inline;
    }
}
