/* # Front-end Style Guide

- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 600, 800
*/

:root {
    --aquaSliderBar: hsl(174, 77%, 80%);
    --aquaSliderBG: hsl(174, 86%, 45%);
    --redBGDiscount: hsl(14, 92%, 95%);
    --redDiscount: hsl(15, 100%, 70%);
    --blueCTA: hsl(226, 100%, 87%);

    --whiteContainerBG: hsl(0, 0%, 100%);
    --paleBlueMainBG: hsl(230, 100%, 99%);
    --graySliderBar:  hsl(224, 65%, 95%);
    --toggleBackgroundBlue: hsl(223, 50%, 87%);
    --grayBlueText: hsl(225, 20%, 60%);
    --darkBlueText: hsl(227, 35%, 25%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    background-color: var(--paleBlueMainBG);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    background-color: var(--graySliderBar);
    border-bottom-left-radius: 225px;
}

.innerHeader {
    position: relative;
    width: 300px;
    height: 250px;
 
}

.innerHeader img {
    position: absolute;
    top: 0;
    left: 20%;
}

h1 {
    position: absolute;
    top: 5%;
    z-index: 2;
    font-size: 1.3rem;
    color: var(--darkBlueText);
}

.innerHeader p {
    width: 90%;
    text-align: center;
}

.sign-up {
    position: absolute;
    top: 20%;
    font-size: 15px;
    color: var(--grayBlueText);
    font-weight: 600;
}
.container {
    width: 350px;
    height: 425px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -27%);
    background-color: var(--whiteContainerBG);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.views {
    color: var(--grayBlueText);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

.sliderContainer {
    position: relative;
}

input[type="range"] {
    appearance: none;
    background-color: var(--graySliderBar);
    cursor: pointer;
    width: 15rem;
    border-radius: 15px;

   }

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   cursor: pointer;
   z-index: 3;
   position: relative;
}

#selector {
    height: 100%;
    width: 50px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.sliderBtn {
    height: 30px;
    width: 100%;
    background-image: url('./images/icon-slider.svg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
}
.price {
    font-size: 32px;
    font-weight: 800; 
    color: var(--darkBlueText)
}

.billing {
   font-size: 14px;
    font-weight: 600;
    color: var(--grayBlueText);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.discount {
    padding: 3px;
    border-radius: 20px;
    background-color: var(--redBGDiscount);
    color: var(--redDiscount);
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.round {
    border-radius: 34px;
}

ul {
    list-style-image: url(./images/icon-check.svg);
    font-size: 14px;
    color: var(--grayBlueText);
    font-weight: 600;
}

.trialButton {
    border: none; 
    border-radius: 25px;
    padding: 1rem;
    background-color: var(--darkBlueText);
    color: var(--toggleBackgroundBlue);
    font-weight: 600;
    width: 50%;
} 